// PROJECT: UCB-Panel
//
// AUTHOR : Niklas Heer niklas.heer@me.com
// DATE   : 13.10.2013
// LICENSE: GPL 3.0

@import "compass/reset";
@import "compass/css3";

.ucbpanel_traffic {
	$color: #eee;
	display: inline-block;
	outline: none;
	cursor: pointer;
	padding: 0.4em 0.4em 0.4em;
	@include border-radius(0.30em);
	border: 1px solid;
	border-color: darken($color, 20%) darken($color, 30%) darken($color, 40%);
	background-color: $color;

	&:hover {
		@include box-shadow(0 0.1em 0.5em rgba(black,0.4), 0 0.1em 0.2em rgba(black,0.4), 0 -0.1em 0.07em rgba(black,0.3) inset, 0 0.1em 0.07em rgba(white,0.2) inset);
	}

	&:active {
		padding: 0.4em 0.4em 0.4em;
		margin-top: 0.1em;
		border-color: darken($color, 30%) darken($color, 20%) $color;
		@include box-shadow(0 0.1em 0.2em rgba(black,0.1) inset, 0 0.1em 0.1em rgba(black,0.2) inset, 0.05em 0 0.07em rgba(black,0.2) inset, -0.05em 0 0.07em rgba(black,0.2) inset);
		@include transition(all 10ms);
	}


	width: 32px;
	height: 32px;
	padding: none;
	margin-left:auto;
	margin-right:auto;
	background: url("chrome-extension://__MSG_@@extension_id__/images/chart.png") no-repeat;
}

.icon_ucbpanel_iro, .icon_ucbpanel_community, .icon_ucbpanel_gremienallee, .icon_ucbpanel_studip, .icon_ucbpanel_webmail, .icon_ucbpanel_qis, .icon_ucbpanel_intranet, .icon_ucbpanel_bib, .icon_ucbpanel_juris, .icon_ucbpanel_olat, .icon_ucbpanel_mensa, .icon_ucbpanel_kadu {
	width:16px;
	height: 16px;
	display: inline-block;
	float: left;
}

.icon_ucbpanel_iro {
	background: url("chrome-extension://__MSG_@@extension_id__/images/favicon.png") no-repeat;
}

.icon_ucbpanel_community {
	background: url("chrome-extension://__MSG_@@extension_id__/images/community.png") no-repeat;
}

.icon_ucbpanel_gremienallee {
	background: url("chrome-extension://__MSG_@@extension_id__/images/gremienallee.png") no-repeat;
}

.icon_ucbpanel_studip {
	background: url("chrome-extension://__MSG_@@extension_id__/images/stud_ip.png") no-repeat;
}

.icon_ucbpanel_webmail {
	background: url("chrome-extension://__MSG_@@extension_id__/images/outlook.png") no-repeat;
}

.icon_ucbpanel_qis {
	background: url("chrome-extension://__MSG_@@extension_id__/images/fh-trier.png") no-repeat;
}

.icon_ucbpanel_intranet {
	background: url("chrome-extension://__MSG_@@extension_id__/images/intranet.png") no-repeat;
}

.icon_ucbpanel_bib {
	background: url("chrome-extension://__MSG_@@extension_id__/images/bibliothek.png") no-repeat;
}

.icon_ucbpanel_juris {
	background: url("chrome-extension://__MSG_@@extension_id__/images/law.png") no-repeat;
}

.icon_ucbpanel_olat {
	background: url("chrome-extension://__MSG_@@extension_id__/images/olat.png") no-repeat;
}

.icon_ucbpanel_mensa {
	background: url("chrome-extension://__MSG_@@extension_id__/images/food.png") no-repeat;
}

.icon_ucbpanel_kadu {
	background: url("chrome-extension://__MSG_@@extension_id__/images/beer.png") no-repeat;
}
