// PROJECT: UCB-Panel
//
// AUTHOR : Niklas Heer niklas.heer@me.com
// DATE   : 13.10.2013
// LICENSE: GPL 3.0

@import "compass/reset";
@import "compass/css3";

.ucbPanelCollapseContainer {
	background-color: rgba(230, 230, 230, 0.4);
}

.menuitem-iconic {
	width: 100%;
	font: 12px Arial,sans-serif;

	display: inline-block;
	outline: none;
	cursor: pointer;
	padding: 5px 10px 5px;
}