html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

.ucbpanel_traffic { display: inline-block; outline: none; cursor: pointer; padding: 0.4em 0.4em 0.4em; -webkit-border-radius: 0.3em; -moz-border-radius: 0.3em; -ms-border-radius: 0.3em; -o-border-radius: 0.3em; border-radius: 0.3em; border: 1px solid; border-color: #bbbbbb #a2a2a2 #888888; background-color: #eeeeee; width: 32px; height: 32px; padding: none; margin-left: auto; margin-right: auto; background: url("chrome-extension://__MSG_@@extension_id__/images/chart.png") no-repeat; }
.ucbpanel_traffic:hover { -webkit-box-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.4), 0 0.1em 0.2em rgba(0, 0, 0, 0.4), 0 -0.1em 0.07em rgba(0, 0, 0, 0.3) inset, 0 0.1em 0.07em rgba(255, 255, 255, 0.2) inset; -moz-box-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.4), 0 0.1em 0.2em rgba(0, 0, 0, 0.4), 0 -0.1em 0.07em rgba(0, 0, 0, 0.3) inset, 0 0.1em 0.07em rgba(255, 255, 255, 0.2) inset; box-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.4), 0 0.1em 0.2em rgba(0, 0, 0, 0.4), 0 -0.1em 0.07em rgba(0, 0, 0, 0.3) inset, 0 0.1em 0.07em rgba(255, 255, 255, 0.2) inset; }
.ucbpanel_traffic:active { padding: 0.4em 0.4em 0.4em; margin-top: 0.1em; border-color: #a2a2a2 #bbbbbb #eeeeee; -webkit-box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.1) inset, 0 0.1em 0.1em rgba(0, 0, 0, 0.2) inset, 0.05em 0 0.07em rgba(0, 0, 0, 0.2) inset, -0.05em 0 0.07em rgba(0, 0, 0, 0.2) inset; -moz-box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.1) inset, 0 0.1em 0.1em rgba(0, 0, 0, 0.2) inset, 0.05em 0 0.07em rgba(0, 0, 0, 0.2) inset, -0.05em 0 0.07em rgba(0, 0, 0, 0.2) inset; box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.1) inset, 0 0.1em 0.1em rgba(0, 0, 0, 0.2) inset, 0.05em 0 0.07em rgba(0, 0, 0, 0.2) inset, -0.05em 0 0.07em rgba(0, 0, 0, 0.2) inset; -webkit-transition: all 10ms; -moz-transition: all 10ms; -o-transition: all 10ms; transition: all 10ms; }

.icon_ucbpanel_iro, .icon_ucbpanel_community, .icon_ucbpanel_gremienallee, .icon_ucbpanel_studip, .icon_ucbpanel_webmail, .icon_ucbpanel_qis, .icon_ucbpanel_intranet, .icon_ucbpanel_bib, .icon_ucbpanel_juris, .icon_ucbpanel_olat, .icon_ucbpanel_mensa, .icon_ucbpanel_kadu { width: 16px; height: 16px; display: inline-block; float: left; }

.icon_ucbpanel_iro { background: url("chrome-extension://__MSG_@@extension_id__/images/favicon.png") no-repeat; }

.icon_ucbpanel_community { background: url("chrome-extension://__MSG_@@extension_id__/images/community.png") no-repeat; }

.icon_ucbpanel_gremienallee { background: url("chrome-extension://__MSG_@@extension_id__/images/gremienallee.png") no-repeat; }

.icon_ucbpanel_studip { background: url("chrome-extension://__MSG_@@extension_id__/images/stud_ip.png") no-repeat; }

.icon_ucbpanel_webmail { background: url("chrome-extension://__MSG_@@extension_id__/images/outlook.png") no-repeat; }

.icon_ucbpanel_qis { background: url("chrome-extension://__MSG_@@extension_id__/images/fh-trier.png") no-repeat; }

.icon_ucbpanel_intranet { background: url("chrome-extension://__MSG_@@extension_id__/images/intranet.png") no-repeat; }

.icon_ucbpanel_bib { background: url("chrome-extension://__MSG_@@extension_id__/images/bibliothek.png") no-repeat; }

.icon_ucbpanel_juris { background: url("chrome-extension://__MSG_@@extension_id__/images/law.png") no-repeat; }

.icon_ucbpanel_olat { background: url("chrome-extension://__MSG_@@extension_id__/images/olat.png") no-repeat; }

.icon_ucbpanel_mensa { background: url("chrome-extension://__MSG_@@extension_id__/images/food.png") no-repeat; }

.icon_ucbpanel_kadu { background: url("chrome-extension://__MSG_@@extension_id__/images/beer.png") no-repeat; }
